*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    position: relative;
    background-image: url(./356981-admin.png); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh;
    margin: 0;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

section,
img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
h1{
        display: block;
        background-color: #60a19e;
        color: black;
        padding: 10px;
        width: 50%;
        margin: 0 auto;
        border-radius: 15px;
        font-family: Arial, sans-serif;
        font-size: 24px;
        text-align: center;
        text-shadow: 2px 2px 4px;
    }

h2{
    display: block;
    background-color: #10a92e;
    color: black;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 4px;
}
h3{
    display: block;
    background-color: #8e4244;
    color: black;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 4px;
}
main{
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #5e60f6;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 1.5;
    position: relative;
    opacity: 0.6;
    }
footer{
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #5e60f6;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    opacity: 0.6;
}   
form{
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #10a92e;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    line-height: 1.5;
    color: white;
    position: relative;
    opacity: 0.6;
}
nav{
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fc6713;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    line-height: 1.5;
    color: white;
    position: relative;
    opacity: 0.6;
}
.contenedor{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
}
.contenedorA{
    margin: 0 10PX;
    background-color: #10a92e;
    color: black;
    border-radius: 15px;
    padding: 5px ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.contenedorB{
    margin: 0 10PX;
    background-color: #fc6713;
    color: black;
    border-radius: 15px;
    padding: 5px ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
